ff(fontfamaly = defaultFont,fz=16,lh=1.4)
    if fontfamaly == defaultFont
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')lineHeight = unit(fz*lh,'px')lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight defaultFont
        font-weight 400
        font-style normal   
    if fontfamaly == "bold"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro', sans-serif
        font-weight 700
        font-style normal   
    if fontfamaly == "bold_i"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro', sans-serif
        font-weight 700
        font-style italic    
    if fontfamaly == "book"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif
        font-weight 400
        font-style normal   
    if fontfamaly == "book_i"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif       
        font-weight 400
        font-style italic   
    if fontfamaly == "light_f"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif
        font-weight 200
        font-style normal
    if fontfamaly == "light_i"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif
        font-weight 200
        font-style italic
    if fontfamaly == "medium"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif
        font-weight 600
        font-style normal
    if fontfamaly == "medium_i"
        fontSize = unit(fz,'px')
        lineHeight = unit(fz*lh,'px')
        font fontSize / lineHeight 'Myriad Pro',sans-serif
        font-weight 600
        font-style italic
    
    
a
  color #256c97 
  text-decoration none