.form_error
    display block
    position absolute
    ff(normal,14)
    text-shadow: 0 1px 0 #7f3f3f;
    color #FFF
    background-color #cc6767
    padding 10px
    z-index 99
    min-width 240px
    text-transform none !important
    &:before
        border solid
        border-color #cc6767 transparent
        border-width 0 6px 6px 6px
        top -5px
        content ""
        left 5%
        position absolute
        z-index 99
.form_error_item
    ff(normal,14)
    display block

.form_error__center_short
    min-width 180px
    width 180px
    padding 10px
    text-align center
    margin-left -85px
    &:before
        border solid
        border-color #cc6767 transparent
        border-width 0 6px 6px 6px
        top -5px
        content ""
        left 50%
        position absolute
        z-index 99

