.button__big
    ff(bold,16)
    padding 10px 13px
    &:active
        padding 10px 14px 11px 13px
.button__medium
    ff(bold,11,1)
.button__small
    ff(bold,11)
    padding 4px 13px
    &:active
        background-color #f0f0f0
.button__width100
    width 100%

.button__light
    ff(normal,16)