<div class="ml-ellipsis">
    <div class="ml-ellipsis-before"></div>
    <div class="ml-ellipsis-content" ng-transclude></div>
    <div class="ml-ellipsis-after">
        <span ng-if="ellipsis" ng-bind="ellipsis" ng-style="ellipsisStyle"></span>

        <span ng-if="!ellipsis && ellipsisUrl" ml-ellipsis-exclude-from-isolated>
            <span ng-include="ellipsisUrl" ng-style="ellipsisStyle"></span>
        </span>

        <span ng-if="!ellipsis && !ellipsisUrl" ng-style="ellipsisStyle">&hellip;</span>
    </div>
</div>