.label
	ff(bold,11)
	color: #333
	text-transform uppercase
	display block
	width 100%
.label__smallicon
	margin-left 5px
	padding-left 20px !important
	background-position left 2px !important
	sf()
.labelfirst
	margin-top 0.5em

.invisiblelabel
	color transparent

.labelradio, .labelcheckbox
	ff(bold,11)
	color: #333
	display inline-block
	width 90%
	padding-top 1px
	padding-left 4px

.labelradio__big
	ff(bold,11)
	color: #333
	text-transform uppercase
	display block
	width 90%
	margin-left 22px
	padding-top 1px

.label__grey
	color #666666
.label__blue
	color #0078c1
.label__normal
	ff(normal,14)

.labelpollanswer
	ff(normal,14)
	color #000

.label__padding
	padding 1em 0

.label__white
	color #FFF
	text-shadow 0 1px 0 rgba(0,47,77,.5)

.label__bottompadding
	margin-bottom 10px

.two_label
	display table
	sf()
	p
		display inline-block
		ff(medium,11)
		color #797d80
		margin 0
.two_label__left
	display table-cell

.two_label__right
	text-align right
	width 100%
	display table-cell
	margin-right -20px

.label_description
	ff(medium,11)
	line-height 15px
	color: #999
	display inline-block
	margin-left 22px
	b
		color #000
		a
			position relative
			&:hover
				.label_description_tooltop
					display block

.labelDescr
	float right
	ff(medium, 11)
	color #797d80
	text-transform none