
<div class='popup-bg'></div>
<form class='CalendarPopup' popup-position='' novalidate='' name='myForm' >
<div class='CalendarPopupClose' ng-click='cancel()'></div>
<div class='block post_header'>
    <h1 ng-hide='event.id'>New event</h1>
    <h1 ng-show='event.id'>Edit event</h1>

</div>
<div class='block CalendarPopupGroupGreyBorder'>
    <div class='form_item'>
        <label class='label'>Name</label>
        <input class='textinput textinput__topborder' ng-focus='true'  ng-maxlength='140' ng-model='event.name' name='name' ng-required='true' />
        <div class='form_error' ng-show='myForm.name.$error.required'>Required field</div>
        <div class='form_error' ng-show='myForm.name.$error.maxlength'>The maximum name length - 140 characters</div>

    </div>
    <div class='form_item CalendarPopupRelativeFormItem'>
        <div class='feedgroup_event_label'>
            <div class='feedgroup_event_label__left'>
                <label class='label'>Date</label>
            </div>
        </div>
        <div id='date_start' class='textinput_icon datepicker' pickadate-container='#date_start' pickadate='' ng-model='date_start'>
            <label></label>
            <input class='textinput textinput__topborder' ng-model='date_start' ng-required='true' name='date_start' ng-pattern='/^\d{1,2}\.\d{1,2}\.\d{4}/' />
            <i class='textinput_icon__calendar textinput__topborder'></i>
            <div class='form_error' ng-show='myForm.date_start.$error.required'>Required field</div>
            <div class='form_error' ng-show='myForm.date_start.$error.pattern'>Enter the date in the format HH.MM.YYYY</div>

        </div>
    </div>
    <div class='form_item'>
        <label class='label'>Time</label>
        <div class='feedgroup_event_time'>
            <div class='feedgroup_event_time_from'>
                from
                <input class='textinput textinput__topborder' ng-model='event.start' ng-required='true' date-to-time='' name='time_start' ng-pattern='/^([01]?[0-9]|2[0-3]):[0-5][0-9]/' />
                <div class='form_error' ng-show='myForm.time_start.$error.required'>Required field</div>
                <div class='form_error' ng-show='myForm.time_start.$error.pattern'>Enter the time in the format HH:MM</div>
            </div>
            <div class='feedgroup_event_time_to'>
                to
                <input class='textinput textinput__topborder' ng-model='event.end' ng-required='true' date-to-time='' name='time_end' ng-pattern='/^([01]?[0-9]|2[0-3]):[0-5][0-9]/' />
                <div class='form_error' ng-show='myForm.time_end.$error.required'>Required field</div>
                <div class='form_error' ng-show='myForm.time_end.$error.pattern'>Enter the time in the format HH:MM</div>
            </div>
            <div class='form_error' ng-show='myForm.$error.duplicate '>This time is already taken</div>
            <div class='form_error' ng-show='myForm.$error.wrong_interval'>Wrong time interval events. Minimum length - 30 minutes</div>

        </div>
    </div>
    <div class='form_item' ng-show='!inputImportantFields()'>
        <div class='feedgroup_event_notice'>
            Specify the date and time to continue
        </div>
    </div>
    <div class='form_item' ng-show='inputImportantFields()'>
        <div class='feedgroup_event_label'>
            <div class='feedgroup_event_label__left'>
                <label class='label'>Place</label>
            </div>
        </div>
        <input class='textinput textinput__topborder' ng-model='event.place' name='place' ng-required='true' />
        <div class='form_error' ng-show='myForm.place.$error.required'>Required field</div>

    </div>
    <div class='form_item' ng-show='inputImportantFields()'>
        <label class='label'>Description</label>
        <textarea class='textinput textinput__topborder textareaPopupEvent' ng-model='event.description'></textarea>
    </div>
</div>
<div ng-show='inputImportantFields()'>

    <div class='CalendarPopupGroup'>
        <div class='CalendarPopupMan' ng-show='event.author'>
            <div class='CalendarPopupManAvatar'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ event.author.avatar_50_url }}' />
                </div>
            </div>
            <div class='CalendarPopupManName'>
                <a href='{{ event.author.profile_url }}' target='_blank'>{{ event.author.full_name }}</a>
                <p>{{ event.author.departament.name_ru }}</p>
                <strong>sponsor</strong>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup' ng-repeat='member in acceptedMembers' ng-show='acceptedMembers.length <= 10 '>
        <div class='CalendarPopupMan CalendarPopupManRemovable'>
            <div class='CalendarPopupManRemoveButton' ng-click='removeMember($index)'></div>
            <div class='CalendarPopupManAvatar'>
                <div class='b-avatar b-avatar__medium' ng-colored-avatar='' status-source='member'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
            <div class='CalendarPopupManName'>
                <a href='{{ member.profile_url }}' target='_blank'>{{ member.full_name }}</a>
                <p>{{ member.departament.name_ru }}</p>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup CalendarPopupMembers' ng-show='acceptedMembers.length > 10'>
        <div class='CalendarPopupMembersScroll'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in acceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
        <div class='CalendarPopupMembersUnconfirmed' ng-show='notAcceptedMembers.length'>
            Not accepted members {{notAcceptedMembers.length}} people:
        </div>
        <div class='CalendarPopupMembersScroll' ng-show='notAcceptedMembers.length'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in notAcceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup CalendarPopupMembers' ng-show='notAcceptedMembers.length'>
        <div class='CalendarPopupMembersUnconfirmed'>
            Not accepted members {{notAcceptedMembers.length}} people:
        </div>
        <div class='CalendarPopupMembersScroll'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in notAcceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
    </div>
    <div class='block block_vpadding CalendarPopupGroupGreyBorder'>
        <div class='feedgroup_event_people_add CalendarPopupRelativeFormItem'>
            <label class='label'>Add members</label>
            <autocomplete-event-invite start-at="1" result-limit="4" show-autocomplete="showAutocomplete" new-members="newMembers" event="event"></autocomplete-event-invite>
        </div>
    </div>
</div>
<div class='block CalendarPopupGroupGreyBorder'>
    <input class='button button__grey' ng-disabled='loading || !inputImportantFields()' ng-click='submit()' type='submit' ng-hide='event.id' value='Create' />
    <input class='button button__grey' ng-disabled='loading || !inputImportantFields()' ng-click='submit()' type='submit' value='Save' ng-show='event.id' />
    <button class='button button__nobg button__blue' ng-click='cancel()'>Cancel</button>
</div>
<div class='CalendarPopupGroup' ng-show='event.id'>
    <button class='ButtonIconLeftCancel' ng-click='remove(event.id)'>Delete</button>
</div>
</form>
