
<div class='popup-bg'></div>
<div class='CalendarPopup' scroll-to-popup='' popup-position="">
    <div class='CalendarPopupClose' ng-click='cancel()'></div>
    <div class='CalendarPopupGroup'>
        <div class='CalendarPopupHeader'>{{ event.name }}
            <div class='CalendarPopupHeaderDescr'>
            from {{ event.start | dateFilter:"H:mm" }} to {{ event.end | dateFilter:"H:mm" }}
        </div>
        </div>
    </div>
    <div class='CalendarPopupGroup' ng-if='event.place'>
        <div class='CalendarPopupAdress'>
            {{ event.place }}
        </div>
    </div>
    <div class='CalendarPopupGroup' ng-if='event.description'>
        <button class='ButtonIconLeftInfo' ng-click='showDescription=!showDescription' ng-show='!showDescription'>
            Description
        </button>
        <button class='ButtonIconLeftInfo' ng-click='showDescription=!showDescription' ng-show='showDescription'>
            Hide description
        </button>
        <div class='CalendarPopupInfoText' ng-show='showDescription'>
            <p>{{ event.description }}</p>
        </div>
    </div>
    <div class='CalendarPopupGroup'>
        <div class='CalendarPopupMan' ng-show='event.author'>
            <div class='CalendarPopupManAvatar'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ event.author.avatar_50_url }}' />

                </div>
            </div>
            <div class='CalendarPopupManName'>
                <a href='{{ event.author.profile_url }}' target='_blank'>{{ event.author.full_name }}</a>
                <p>{{ event.author.departament.name_ru }}</p>
                <strong>sponsor</strong>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup' ng-repeat='member in acceptedMembers' ng-show='acceptedMembers.length <= 10 '>
        <div class='CalendarPopupMan'>
            <div class='CalendarPopupManAvatar'>
                <div class='b-avatar b-avatar__medium' ng-colored-avatar='' status-source='member'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
            <div class='CalendarPopupManName'>
                <a href='{{ member.profile_url }}' target='_blank'>{{ member.full_name }}</a>
                <p>{{ member.departament.name_ru }}</p>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup CalendarPopupMembers' ng-show='acceptedMembers.length > 10'>
        <div class='CalendarPopupMembersScroll'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in acceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
        <div class='CalendarPopupMembersUnconfirmed' ng-show='notAcceptedMembers.length'>
            Not accepted members {{notAcceptedMembers.length}} people:
        </div>
        <div class='CalendarPopupMembersScroll' ng-show='notAcceptedMembers.length'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in notAcceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup CalendarPopupMembers' ng-show='notAcceptedMembers.length'>
        <div class='CalendarPopupMembersUnconfirmed'>
            Not accepted members {{notAcceptedMembers.length}} people:
        </div>
        <div class='CalendarPopupMembersScroll'>
            <div class='CalendarPopupManAvatar' ng-repeat='member in notAcceptedMembers'>
                <div class='b-avatar b-avatar__medium'>
                    <img ng-src='{{ member.avatar_50_url }}' />
                </div>
            </div>
        </div>
    </div>
    <div class='CalendarPopupGroup' ng-show='$eventPopup.isAcceptedEvent()'>
        <button class='ButtonIconLeftAddMembers' ng-click='showAutocomplete=!showAutocomplete'>
            Add members
        </button>
        <autocomplete-event-invite start-at="1" result-limit="4" input-focus="showAutocomplete" show-autocomplete="showAutocomplete" new-members="newMembers" event="event"></autocomplete-event-invite>
    </div>
    <div class='CalendarPopupGroup' ng-show='$eventPopup.isEditable()'>
        <button class='ButtonIconLeftEdit' ng-click='edit()'>
            Edit
        </button>
    </div>
    <div class='CalendarPopupGroup' ng-hide='$eventPopup.isAcceptedEvent()'>
        <button class='button button__bgblue ButtonSmall' ng-click='acceptEvent()'>Accept event</button>
        <button class='button button__bgrose ButtonSmall' ng-click='refuseEvent()'>Refuse event</button>
    </div>
    <div class='CalendarPopupGroup' ng-show='$eventPopup.isAcceptedEvent() && !$eventPopup.isEditable()'>
        <button class='ButtonIconLeftCancel' ng-click='refuseEvent()'>Refuse event</button>
    </div>
</div>