.form_item
    width 100%
    display block
    margin-top 0
    margin-bottom 10px

.form_item__small
    width 100%
    display block
    margin-top 0.5em
    margin-bottom 0.5em
    clear both

.form_item__big
    width 100%
    display block
    margin 0 0 1em 0

.form_left,
.form_right
    width 270px
    float left
.form_left
    margin-right 20px