.calendarRoomsHeader
	background #fff
	border 1px solid #e9eaeb
	border-bottom-color #D7D8D9
	ff(light_f, 24)
	line-height 28px
	padding 24px 30px

.calendarRoomsHeaderDescr
	text-transform uppercase
	ff(bold, 11)
