.post_header
  position relative
  h1
    ff(light_f,24)
    margin 0
    color #333
  .important
    color #cc0000
  h3
    ff(bold,11)
    color #666666
    text-transform uppercase
    margin 0px 0px 0px 45px
  a
    text-decoration none
    color #0078c1

  border-bottom 1px solid #e9eaeb
  padding-bottom 27px
