.CalendarButtons
	sf()
	margin-bottom 9px
	position absolute
	width 100%
	top 84px
	z-index 3

.CalendarButtonsLeft
	float left
	margin-left 20px

.CalendarButtonsRight
	float right
	padding-right 1px
	margin-right 11px