<div class='CalendarWeekOverlayItem CalendarWeekOverlayItemActive'
     ng-style='{left:getEventLeft($eventPopup.event), top:getEventTop($eventPopup.event), height:getEventHeight($eventPopup.event), width:getEventWidth($eventPopup.event) }'
     ml-ellipsis='' ng-show='$eventPopup.isNewEvent()'>
    <div class='CalendarWeekOverlayItemNewEventCutted' ng-show='$eventPopup.event.newEvent'>New event</div>
    {{$eventPopup.event.name}}
    <div class='CalendarWeekOverlayItemInviteAccepted' ng-show='$eventPopup.event.inviteAccepted'></div>
</div>
<ul class='CalendarWeekOverlay'>
    <li class='CalendarWeekOverlayItem' ng-click='eventView(event)'
        ng-style='{left:getEventLeft(event), top:getEventTop(event), height:getEventHeight(event), width:getEventWidth(event), zIndex: getEventZindex1(event) }'
        ng-mousedown='moveEvent(event)' ng-repeat='event in events | filter:isInWeek | filter:isVisibleTime'
        ng-class='{CalendarWeekOverlayItemActive : $eventPopup.isActive(event)}' ml-ellipsis=''>
        <div class='CalendarWeekOverlayItemNewEventCutted' ng-show='!$eventPopup.isAcceptedEvent(event)'>
            New event
        </div>
        {{event.name}}
        <div ng-switch='isEventAcceptedAll(event)' ng-if='$user.id == event.author.id'>
            <div class='CalendarWeekOverlayItemInviteAccepted' ng-switch-when='true'></div>
            <div class='CalendarWeekOverlayItemInvite' ng-switch-when='false'></div>
        </div>
        <div class='CalendarWeekOverlayItemDrag' ng-mousedown='resizeEvent()' ng-if='calendarConfig.moveEvents'>=</div>
    </li>
</ul>