<div ng-if='showMonthCalendar' ng-controller='CalendarMonthCtrl'>
    <div class='CalendarLeft'>
        <div class='CalendarMonthHeader'>
            <a class='CalendarMonthHeaderSiblingMonth' ng-click='navigate.prevMonth()' href=''>
                {{ currentMonthFormatted(currentMonth-1)|capitalize }}
            </a>

            <div class='CalendarMonthHeaderCurrentMonth'>
                <sup ng-show='currentYear !== nextYear'>{{ currentYear }}</sup>
                {{ currentMonthFormatted(currentMonth)|capitalize }}
            </div>
        </div>
        <calendar events='events' active-day='calendarData.activeDay' calendar-year='currentYear'
                  calendar-month='currentMonth'></calendar>
    </div>
    <div class='CalendarRight'>
        <div class='CalendarMonthHeaderRight'>
            <a class='CalendarMonthHeaderSiblingMonthRight' ng-click='navigate.nextMonth()' href=''>
                {{ nextMonthFormatted(nextMonth+1)|capitalize }}
            </a>

            <div class='CalendarMonthHeaderCurrentMonthLeft'>
                {{ nextMonthFormatted(nextMonth)|capitalize }}
                <sup>{{ nextYear }}</sup>
            </div>
        </div>
        <calendar events='events' active-day='calendarData.activeDay' calendar-year='nextYear'
                  calendar-month='nextMonth'></calendar>
    </div>
</div>
