.CalendarWeek
	border-collapse separate
	border-spacing 1px
	width 100%

.CalendarWeekHead
	border-bottom 1px solid #b6b6b6
	background #dedede
	text-align center
	ff(medium, 11)
	height 45px
	color #333333

.CalendarWeekShowTime
	border none
	margin 0 0 0 5px
	padding 0
	background none
	color #66aeda
	ff(medium, 11)
	line-height 22px

	&:hover{
		color #0078C1
	}

.CalendarWeekHeadWeekday
	width 13.75%

.CalendarWeekHeadWeekend
	width 11%