//Setting file

@import 'global-setting.styl'

// Share blocks
@import 'ui/ui.styl'
@import 'block/block'

// Section blocks
@import 'feedgroup_event/feedgroup_event'

@import 'b-avatar/b-avatar'
@import 'popup/popup'
@import 'post/post'
@import 'calendar/calendar'

.cf
	cf()