/* Colors */
grey = #333 
light-grey = #e3e3e3
dark-grey = #b6b6b6
blue = #0078c1
light-blue = #d9e5f5
dark-blue = #00296c
border-lightgrey = #e9eaeb
border-darkgrey = #b6b6b6
linkcolor = #256c97




/* Grid setting */